# lightning.pytorch==2.0.9.post0
seed_everything: true
trainer:
  # Training procedure
  #   Training length
  max_epochs: 400
  accumulate_grad_batches: 1
  #   Validate Control
  check_val_every_n_epoch: 1
  # Training method
  #   Device
  accelerator: gpu
  devices: auto
  #   Accelerater
  strategy:
    class_path: strategy.drct.MyStrategy
  # precision: 16-mixed
  benchmark: true
  # Log
  default_root_dir: ./logs
  logger:
    class_path: lightning.pytorch.loggers.wandb.WandbLogger
    init_args:
      project: WindSR
      offline: true
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        save_last: false
        save_top_k: 5
        every_n_epochs: 1
        monitor: val/psnr_single/dataloader_idx_0
        mode: max
        save_weights_only: true
    - class_path: arch.callbacks.ema.EMA
      init_args:
        decay: 0.999
model:
  args:
    # 基础配置
    model_type: "DRCT"  # 默认值，可以省略
    single_channel: true
    time_window: 2

    # 模型架构参数
    depths: [6, 6, 6, 6, 6, 6]  # 使用默认值
    num_heads: [6, 6, 6, 6, 6, 6]  # 使用默认值
    embed_dim: 180  # 使用默认值

    # 条件特征相关
    ref_chans: 256
    condition_size: 64
    cross_mode: true
    use_gating: false

    # 训练相关参数
    learning_rate: 2e-4
    lr_scheduler: true
    input_dropout: 0
    weight_decay: 1e-2

    # 模型加载参数
    # ckpt_path: null  # 不需要加载预训练模型，可以省略

data:
  train_opt:
    gt_lmdb: ./data/WindSRdata/CERRA/CERRA_2009_2020_paperRange.lmdb
    lq_lmdb: ./data/WindSRdata/ERA5/ERA5_2009_2020_paperRange.lmdb
    use_hflip: false
    use_rot: false
    resize: true
    resize_size: 64
    crop: false
    crop_size: 64
    offset: 2920
    len: 29216
    time_window: 2  # Add time window for temporal information
    single_channel: true  # Add single channel mode
  val_opts:
    - gt_lmdb: ./data/WindSRdata/CERRA/CERRA_2009_2020_paperRange.lmdb
      lq_lmdb: ./data/WindSRdata/ERA5/ERA5_2009_2020_paperRange.lmdb
      use_hflip: false
      use_rot: false
      resize: true
      resize_size: 64
      crop: false
      offset: 0
      len: 2920
      time_window: 2  # Add time window for temporal information
      single_channel: true  # Add single channel mode

    - gt_lmdb: ./data/WindSRdata/CERRA/CERRA_2009_2020_paperRange.lmdb
      lq_lmdb: ./data/WindSRdata/ERA5/ERA5_2009_2020_paperRange.lmdb
      use_hflip: false
      use_rot: false
      resize: true
      resize_size: 64
      crop: false
      offset: 32136
      time_window: 2  # Add time window for temporal information
      single_channel: true  # Add single channel mode
  batch_size: 4
  num_workers: 8
